{% extends "layouts/_default/dashboard.html" %}
{% block content %}
    <div class="mb-4 col-span-full xl:mb-2">
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Modifier le projet</h1>
    </div>
    <div class="grid gap-4 px-4 mb-4 md:grid-cols-1 xl:grid-cols-1 xl:px-0">
        <div class="h-full p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <div class="mb-4 text-xl font-semibold dark:text-white">{{ title }}</div>
            {% include "pages/projects_list/partials/project_update_form.html" %}
        </div>
    </div>
{% endblock content %}
